<div class="task--form--wrapper">
  <form [formGroup]="toDoForm" (ngSubmit)="onSubmit(toDoForm)">
    <div class="to-do-tast-input-wrapper">
      <input
        type="text"
        formControlName="taskName"
        class="tast--input"
        placeholder="Add a ToDO..."
        #formTaskInput
        (focus)="onFocus()"
        (blur)="onBlur()"
      />
      <button
        class="btn btn-primary btn--add"
        type="submit"
        [disabled]="!toDoForm.valid"
      >
        <i class="far fa-plus-circle add--icon"></i>
      </button>
    </div>
  </form>
</div>
