@import "../../.././styles/_mixin_variables.scss";

.task--page--wrapper {
  min-height: 500px;
  padding: 20px 0px 60px;
  .task--container--wrapperr {
    width: 75%;
    margin: 0 auto;
  }
  @media only screen and (min-width: 768px) and (max-width: 1000px) {
    .task--container--wrapperr {
      width: 100%;
    }
  }
  @media #{$media-small} {
    .task--container--wrapperr {
      width: 100%;
    }
  }
}
