<footer class="footer--page--wrapper">
  <div class="fixed-bottom footer--bg--color">
    <div class="container">
      <div class="row">
        <div class="col-md-8 flex--wrap hide">
          <p class="copyright--text">© 2019 ToDO App</p>
        </div>
        <div class="col-md-4 col-sm-12">
          <p class="copyright--text info--text">
            Created By Shaikh Usman
            <a
              href="https://twitter.com/xhaikhusman"
              target="_blank"
              class="social--icon"
            >
              <i class="fab fa-twitter-square"></i>
            </a>
            <a
              href="https://www.facebook.com/shaikhusman57"
              target="_blank"
              class="social--icon"
            >
              <i class="fab fa-facebook-square"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
