<div class="privacy--policy--page--wrapper">
  <div class="content-box">
    <h4>ToDO App Privacy Policy</h4>
    <ul>
      <li> <p> When registering for ToDO App we ask for information such as your name and email address. Your information is only used internally and won't be shared with others. </p> </li>
      <li> <p> ToDO App collects the email addresses of those who communicate with us via email, and information submitted through voluntary activities such as site registrations or participation in surveys. ToDO App also collects aggregated, anonymous user data regarding app usage. The user data we collect is used to improve ToDO App and the quality of our service. We only collect personal data that is required to provide our services, and we only store it insofar that it is necessary to deliver these services. </p> </li>
      <li> <p> ToDO App uses third party vendors and hosting partners to provide the necessary hardware, software, networking, storage, and related technology required to run ToDO App. Although ToDO App owns the code, databases, and all rights to the ToDO App application, you retain all rights to your data. We will never share your personal data with a 3rd party without your prior authorization, and we will never sell data to 3rd parties. </p> </li>
    </ul>
  </div>
</div>
