<div class="sign--in--page--wrapper common--login--page">
  <div class="user--form--box">
    <p class="header--txt">Log in</p>
    <p class="hyper--txt">- Log in with -</p>
    <div class="social--icon--wrap">
      <button class="btn social--icon google" mat-button (click)="signInWithGoogle($event)"> 
          <i class="fas fa-spinner fa-spin loadign-spinner" *ngIf="loadingGoogle"></i>
          <i class="fab fa-google-plus-g"></i> Google 
      </button>
      <button class="btn social--icon facebook" mat-button (click)="signInWithFacebook($event)"> 
          <i class="fas fa-spinner fa-spin loadign-spinner" *ngIf="loadingFacebook"></i>
          <i class="fab fa-facebook-f"></i> Facebook 
      </button>
    </div>
    <p class="hyper--txt">- or use email address -</p>
    <form class="common--form" (ngSubmit)="f.form.valid && onSubmit($event)" #f="ngForm" novalidate >
      <div class="input--wrap space">
        <input
          type="text"
          class="form-control input--form"
          name="email"
          autocomplete="on"
          placeholder="Email Address *"
          [(ngModel)]="model.email"
          #email="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
          required
          email
          (focus)="onFocus()"
          (blur)="onBlur()"
        />
        <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
          <div *ngIf="email.errors.required">Email is required</div>
        </div>
      </div>
      <div class="input--wrap space">
        <input
          type="password"
          class="form-control input--form"
          name="password"
          placeholder="Password *"
          [(ngModel)]="model.password"
          #password="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && password.invalid }"
          required
          minlength="6"
          (focus)="onFocus()"
          (blur)="onBlur()"
        />
        <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">
            Password must be at least 6 characters
          </div>
        </div>
      </div>
      <p class="alert--text">{{ loginErrorMsg }}</p>
      <div class="input--wrap space">
        <button type="submit" class="btn login--btn" mat-button> LOG IN </button>
      </div>
    </form>
    <hr />
    <p class="bottom--txt">
      <a [routerLink]="['/sign-up']">New to ToDo App? <b>Signup</b> now</a>
    </p>
  </div>
</div>
