<div class="task--list--wrapper">
  <div class="task--list--section">
    <ul class="list--wrap">
      <li class="list--item" [ngClass]="button1 ? 'active' : ''" (click)="onViewAllTask()" >
        <i class="fas fa-list-ul"></i> view all
      </li>
      <li class="list--item" [ngClass]="button2 ? 'active' : ''" (click)="onActiveTask()" >
        <i class="fas fa-hourglass-start"></i> active
      </li>
      <li class="list--item" [ngClass]="button3 ? 'active' : ''" (click)="onCompletedTask()" >
        <i class="far fa-thumbs-up"></i> completed
      </li>
    </ul>
  </div>
</div>
