@import "../../.././styles/styles.variable.scss";

.task--list--wrapper {
  .list--wrap {
    padding: 0px;
    margin: 20px 0px;
    list-style-type: none;
  }
  .list--item {
    font-size: 15px;
    cursor: pointer;
    min-width: 105px;
    font-weight: 500;
    padding: 5px 15px;
    text-align: center;
    margin-right: 15px;
    border-radius: 20px;
    display: inline-block;
    background-color: $white;
    text-transform: capitalize;
    @include transition(background-color 0.3s, color 0.3s);
    &:last-child {
      margin-right: 0px;
    }
    &:hover,
    &.active {
      color: $white;
      background-color: $sky-green;
    }
  }
  @media #{$media-small} {
    .list--wrap {
      @include flexWrap($justify-content: space-evenly);
      .list--item {
        font-size: 14px;
        padding: 5px 10px;
        margin-right: 5px;
        margin-bottom: 5px;
      }
    }
  }
}
